<a href="https://colab.research.google.com/github/bhkwon89/Section1_project/blob/main/Section1_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

지역에 따라서 선호하는 게임 장르가 다를까 라는 질문에 대답을 하셔야 합니다  
연도별 게임의 트렌드가 있을까 라는 질문에 대답을 하셔야 합니다  
출고량의 높은 게임에 대한 분석 및 시각화 프로세스 가 포함되어야 합니다

In [1]:
# 구글 드라이브 연동
from google.colab import drive

drive.mount("/content/gdrive")

Mounted at /content/gdrive

In [2]:
# 여러줄 출력용 라이브러리 호출
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv('vgames2.csv', index_col=0)

df.head(5)

print('\n행 갯수 = ' ,len(df))

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
1,Candace Kane's Candy Factory,DS,2008.0,Action,Destineer,0.04,0,0,0
2,The Munchables,Wii,2009.0,Action,Namco Bandai Games,0.17,0,0,0.01
3,Otome wa Oanesama Boku ni Koi Shiteru Portable,PSP,2010.0,Adventure,Alchemist,0,0,0.02,0
4,Deal or No Deal: Special Edition,DS,2010.0,Misc,Zoo Games,0.04,0,0,0
5,Ben 10 Ultimate Alien: Cosmic Destruction,PS3,2010.0,Platform,D3Publisher,0.12,0.09,0,0.04

행 갯수 =  16598

In [4]:
# 결측치 확인
df.isna().sum()

Name             0
Platform         0
Year           271
Genre           50
Publisher       58
NA_Sales         0
EU_Sales         0
JP_Sales         0
Other_Sales      0
dtype: int64

In [5]:
# 중복 값 확인
df.duplicated().sum()

1

In [6]:
# 중복 값이 있어 제거
df.drop_duplicates(inplace=True)
df = df.reset_index(drop=True)

print('\n행 갯수 = ' ,len(df))

행 갯수 =  16597

In [7]:
print('결측치 제외 게임제목 종류 = ', df['Name'].nunique())
print()
print('=========== 각 게임제목 별 개수 ========= \n', df['Name'].value_counts())

결측치 제외 게임제목 종류 =  11493

=========== 각 게임제목 별 개수 =========
 Need for Speed: Most Wanted            12
Ratatouille                             9
FIFA 14                                 9
LEGO Marvel Super Heroes                9
Madden NFL 07                           9
                                       ..
Road Rash 3D                            1
Saki: Achiga-Hen Portable               1
Shining Force Feather                   1
Model * Oshare Audition: Dream Girl     1
Rainbow Islands: Revolution             1
Name: Name, Length: 11493, dtype: int64

이름이 중복되는 것들이 몇개 있음

In [8]:
# 편하게 보기 위해 이름순으로 정렬

df.sort_values(by=['Name'], axis=0, inplace=True)
df = df.reset_index(drop=True)

df[df['Name'].duplicated()]

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
13,007: Quantum of Solace,DS,2008.0,Action,Activision,0.11,0.01,0,0.01
14,007: Quantum of Solace,PS3,2008.0,Action,Activision,0.43,0.52,0.02,0.2
15,007: Quantum of Solace,Wii,2008.0,Action,Activision,0.3,0.29,0.01M,0.07
16,007: Quantum of Solace,PS2,2008.0,Action,Activision,0.17,0,0,0.26
17,007: Quantum of Solace,X360,2008.0,Action,Activision,0.82,0.52,0.01,0.14
...,...,...,...,...,...,...,...,...,...
16584,pro evolution soccer 2011,PC,2010.0,Sports,Konami Digital Entertainment,0,0.05,0,0.01
16585,pro evolution soccer 2011,X360,2010.0,Sports,Konami Digital Entertainment,0.09,0.44,0,0.07
16586,pro evolution soccer 2011,Wii,2010.0,Sports,Konami Digital Entertainment,0.08,0.1,0.03,0.02
16587,pro evolution soccer 2011,PS2,2010.0,Sports,Konami Digital Entertainment,0.04,0.21,0.05,0.11
16594,uDraw Studio: Instant Artist,Wii,2011.0,Misc,THQ,0.08,0.09,0,0.02

In [9]:
# 같은 게임이더라도 플랫폼이 다를 수 있으니 이름이 중복인 것은 문제가 없음.

# 가정
1. **이름이 같으면 장르는 똑같다**  
2. **플랫폼이 다르면 퍼블리셔도 다를 수 있다**
3. **이름이 같아도 플랫폼에 따라 출시연도가 다를 수 있다**

가정 1을 통해 a 행, b 행의 이름이 같은데 a 행에는 장르가 nan이고 b행에는 장르가 존재할 때 a행의 장르를 b행의 장르로 채울 수 있다    


![제목 없음.png]()

In [10]:

print('결측치 제외 장르의 종류 = ', df['Genre'].nunique())
print()
print('=========== 각 장르별 제품 개수 ========= \n', df['Genre'].value_counts())

결측치 제외 장르의 종류 =  12

=========== 각 장르별 제품 개수 =========
 Action          3305
Sports          2341
Misc            1734
Role-Playing    1483
Shooter         1307
Adventure       1280
Racing          1243
Platform         884
Simulation       865
Fighting         847
Strategy         680
Puzzle           578
Name: Genre, dtype: int64

In [11]:
df[df['Name'] == 'Apache: Air Assault'	]

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
501,Apache: Air Assault,PC,2010.0,NaN,Just Flight,0,0.03,0,0.01
502,Apache: Air Assault,X360,2010.0,Simulation,Activision,0.12,0.04,0,0.01
503,Apache: Air Assault,PS3,2010.0,Simulation,Activision,0.11,0.07,0,0.03

In [12]:
# 장르가 null인 게임 중에 같은 이름을 같는 행이 있는지 확인
genre_null = df[df['Genre'].isna()]['Name']


# 장르가 null인 게임만 모아둔 dataframe
df_genre_null = pd.DataFrame(genre_null )


dup_cnt = []
for name in df[df['Genre'].isna()]['Name']:
  dup_cnt.append(df[df['Name'] == name]['Name'].count())

df_genre_null['dup_cnt'] = dup_cnt
df_genre_null['Genre'] = ''



for idx, row in df_genre_null.iterrows():
  if row.dup_cnt > 1:
    for Genre in df[df['Name'] == row.Name]['Genre']:                            # 장르가 null인 게임 중 같은 이름인 행을 찾음
      if Genre in df['Genre'].unique():                                          # 찾은 행의 장르가 Null이 아닐 경우 저장 ( == 찾은 행의 장르가 unique 값 중 하나 일 경우)
        df_genre_null.loc[df_genre_null['Name'] == row.Name, 'Genre'] = Genre   
        break
  

#print(df_genre_null['Name'])

for i in range(len(df)):
  
  if not(pd.isnull(df.loc[i,'Genre'])) :
    continue



  #df_genre_null[df_genre_null['Name'] == df.loc[i, 'Name']]['Genre']
  
  #print(df.loc[i,'Name'], df.loc[i,'Genre'], df_genre_null[df_genre_null['Name'] == df.loc[i, 'Name']]['Genre'].values.tolist()[0])
  if df_genre_null[df_genre_null['Name'] == df.loc[i, 'Name']]['Genre'].values.tolist()[0] != '':
    df.loc[i,'Genre'] = df_genre_null[df_genre_null['Name'] == df.loc[i, 'Name']]['Genre'].values.tolist()[0]
    #print(df_genre_null[df_genre_null['Name'] == df.loc[i, 'Name']]['Genre'].values.tolist()[0] )
    #pass

df.isna().sum()

Name             0
Platform         0
Year           270
Genre           30
Publisher       58
NA_Sales         0
EU_Sales         0
JP_Sales         0
Other_Sales      0
dtype: int64

In [13]:
# 위의 방식으로 채운 결과 50 -> 30으로 결측값이 줄음, 아래는 확인용
df[df['Name'] == 'Apache: Air Assault'	]

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
501,Apache: Air Assault,PC,2010.0,Simulation,Just Flight,0,0.03,0,0.01
502,Apache: Air Assault,X360,2010.0,Simulation,Activision,0.12,0.04,0,0.01
503,Apache: Air Assault,PS3,2010.0,Simulation,Activision,0.11,0.07,0,0.03

In [14]:
# 장르 종류는 결측치 제외 총 12개
# 장르의 결측치는 총 50개로 

print('출시연도 개수 = ', df['Year'].nunique())
print()
print('=========== 각 출시연도별 제품 개수 ========= \n', df['Year'].value_counts())
print()
print('======== 출시연도 =======  \n',df['Year'].value_counts().index)

출시연도 개수 =  62

=========== 각 출시연도별 제품 개수 =========
 2009.0    1421
2008.0    1418
2010.0    1252
2007.0    1199
2011.0    1129
          ...
97.0         2
13.0         2
2020.0       1
86.0         1
94.0         1
Name: Year, Length: 62, dtype: int64

======== 출시연도 =======
 Float64Index([2009.0, 2008.0, 2010.0, 2007.0, 2011.0, 2006.0, 2005.0, 2002.0,
              2003.0, 2004.0, 2012.0, 2015.0, 2014.0, 2013.0, 2001.0, 1998.0,
              2000.0, 2016.0, 1999.0, 1997.0, 1996.0, 1995.0, 1994.0, 1993.0,
              1981.0, 1992.0, 1991.0, 1982.0, 1986.0, 1983.0, 1989.0, 1987.0,
              1990.0, 1988.0, 1985.0, 1984.0,   11.0,    8.0,    9.0, 1980.0,
                 3.0,    6.0,   10.0,   15.0,   16.0,    5.0,    4.0,   95.0,
                 7.0, 2017.0,   96.0,    2.0,   98.0,    0.0,   14.0,    1.0,
                12.0,   97.0,   13.0, 2020.0,   86.0,   94.0],
             dtype='float64')

출시연도에 2자리만 넣은 경우가 있어 4자리로 변경

In [15]:
for i in range(len(df)):
  if df['Year'][i] / 1900 < 1:
    if df['Year'][i] / 80.0  > 1:
      df['Year'][i] = df['Year'][i] + 1900
    else:
      df['Year'][i] = df['Year'][i] + 2000

print('출시연도 개수 = ', df['Year'].nunique())
print()
print('=========== 각 출시연도별 제품 개수 ========= \n', df['Year'].value_counts())
print()
print('======== 출시연도 =======  \n',df['Year'].value_counts().index)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

출시연도 개수 =  39

=========== 각 출시연도별 제품 개수 =========
 2009.0    1431
2008.0    1428
2010.0    1259
2007.0    1202
2011.0    1139
2006.0    1008
2005.0     941
2002.0     829
2003.0     775
2004.0     763
2012.0     657
2015.0     614
2014.0     582
2013.0     546
2001.0     482
1998.0     379
2000.0     349
2016.0     344
1999.0     338
1997.0     289
1996.0     263
1995.0     219
1994.0     121
1993.0      60
1981.0      46
1992.0      43
1991.0      41
1982.0      36
1986.0      21
1983.0      17
1989.0      17
1987.0      16
1990.0      16
1988.0      15
1984.0      14
1985.0      14
1980.0       9
2017.0       3
2020.0       1
Name: Year, dtype: int64

======== 출시연도 =======
 Float64Index([2009.0, 2008.0, 2010.0, 2007.0, 2011.0, 2006.0, 2005.0, 2002.0,
              2003.0, 2004.0, 2012.0, 2015.0, 2014.0, 2013.0, 2001.0, 1998.0,
              2000.0, 2016.0, 1999.0, 1997.0, 1996.0, 1995.0, 1994.0, 1993.0,
              1981.0, 1992.0, 1991.0, 1982.0, 1986.0, 1983.0, 1989.0, 1987.0,
              1990.0, 1988.0, 1984.0, 1985.0, 1980.0, 2017.0, 2020.0],
             dtype='float64')

In [16]:
# 출시년도 결측값을 채워 넣을 아이디어는 있으나 mission 내용에 연도별 게임 트렌드 확인 문제가 있음
# 해당 아이디어의 정확도가 높지 않기 때문에 하지 않는 것이 나아보임
# 아이디어는 다음과 같다

# 1. 연도가 nan일 경우 이름에서 숫자를 찾는다. (ex 스파이더맨 4 : ~~~부제, 연도 : nan)
# 2, 숫자가 있을 경우 해당 행의 위로 2, 아래로 2 행 중 찾은 숫자보다 하나 낮거나 높을 경우 해당 행들 연도 평균으로 채워 넣는다.
# (ex 스파이더맨 3 : ~~~부제, 연도 : 2002      스파이더맨 5, 연도 : 2004)  --> 2003으로 채워 넣기

# 따라서 연도가 비어있을 경우 행을 drop 한다

In [17]:
df[df['Publisher'] == 'Unknown']['Publisher'].count()

# 퍼블리셔에는 결측값과 별개로 Unknown이 존재 (203개)

203

In [18]:
df['Publisher'].isna().sum()

58

In [19]:
# NA_Sales	EU_Sales	JP_Sales	Other_Sales
print(df['NA_Sales'].str.contains('M').sum())
print(df['NA_Sales'].str.contains('m').sum())
print(df['NA_Sales'].str.contains('K').sum())
print(df['NA_Sales'].str.contains('k').sum())
print(df['NA_Sales'].str.contains('u').sum())

100
0
100
0
0

In [20]:
#def replace_K(df, col):
#  tmp = df[col].replace(inplace=True)


df.NA_Sales = df.NA_Sales.replace(r'[KM]+$', '', regex=True).astype(float) * df.NA_Sales.str.extract(r'[\d\.]+([KM]+)', expand=False).fillna(1).replace(['K','M'], [10**3, 10**6]).astype(int)




df

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
0,'98 Koshien,PS,1998.0,Sports,Magical Company,0.15,0.1,0.12,0.03
1,.hack//G.U. Vol.1//Rebirth,PS2,2006.0,Role-Playing,Namco Bandai Games,0.00,0,0.17,0
2,.hack//G.U. Vol.2//Reminisce,PS2,2006.0,Role-Playing,Namco Bandai Games,0.11,0.09,0,0.03
3,.hack//G.U. Vol.2//Reminisce (jp sales),PS2,2006.0,Role-Playing,Namco Bandai Games,0.00,0,0.16,0
4,.hack//G.U. Vol.3//Redemption,PS2,2007.0,Role-Playing,Namco Bandai Games,0.00,0,0.17,0
...,...,...,...,...,...,...,...,...,...
16592,uDraw Studio,Wii,2010.0,Misc,THQ,1.67,0.58,0,0.2
16593,uDraw Studio: Instant Artist,X360,2011.0,Misc,THQ,0.01,0.01,0,0
16594,uDraw Studio: Instant Artist,Wii,2011.0,Misc,THQ,0.08,0.09,0,0.02
16595,wwe Smackdown vs. Raw 2006,PS2,NaN,Fighting,NaN,1.57,1.02,0,0.41
16596,¡Shin Chan Flipa en colores!,DS,2007.0,Platform,505 Games,0.00,0,0.14,0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16597 entries, 0 to 16596
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         16597 non-null  object
 1   Platform     16597 non-null  object
 2   Year         16327 non-null  float64
 3   Genre        16567 non-null  object
 4   Publisher    16539 non-null  object
 5   NA_Sales     16597 non-null  float64
 6   EU_Sales     16597 non-null  object
 7   JP_Sales     16597 non-null  object
 8   Other_Sales  16597 non-null  object
dtypes: float64(2), object(7)
memory usage: 1.1+ MB